{
  "swagger": "2.0",
  "info": {
    "title": "항해 마지막 프로젝트",
    "description": "프론트 분들을 위한 스웨거 입니다.",
    "version": "1.0.0"
  },
  "host":  "www.iceflower.shop",
  "basePath": "/",
  "tags": [
    {
      "name": "회원 가입 및 로그인API",
      "description": ""
    },
    {
      "name": "회원정보 관련API",
      "description": ""
    },
    {
      "name": "게시물API",
      "description": ""
    },
    {
      "name": "댓글API",
      "description": ""
    },
    {
      "name": "채팅API",
      "description": ""
    },
    {
      "name" : "인증번호API",
      "description" : ""
    }
  ],
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/users/signup": {
      "post": {
        "tags": ["회원 가입 및 로그인API"],
        "description": "회원가입",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "userId": {
                  "example": "아이디"
                },
                "nickName": {
                  "example": "닉네임"
                },
                "password": {
                  "example": "비밀번호"
                },
                "confirm": {
                  "example": "확인비번"
                },
                "address": {
                  "example": "주소"
                },
                "myPlace": {
                  "example": "선호하는지역"
                },
                "age": {
                  "example": "나이"
                },
                "gender": {
                  "example": "성별"
                },
                "likeGame": {
                  "example": "선호하는게임"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "회원가입 완료했습니다."
          },
          "403": {
            "description": "유효성 검사에 만족되지 않습니다."
          },
          "409": {
            "description": "중복된 값이 존재합니다."
          }
        }
      }
    },
    "/users/login": {
      "post": {
        "tags": ["회원 가입 및 로그인API"],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "userId": {
                  "example": "아이디"
                },
                "password": {
                  "example": "비밀번호"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "로그인 완료했습니다."
          },
          "403": {
            "description": "아이디, 비번이 제대로 만족되지 않습니다."
          }
        }
      }
    },
    "/users/": {
      "get": {
        "tags": ["회원정보 관련API"],
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "회원 정보 가져오기 성공하였습니다."
          },
          "401": {
            "description": "로그인을 하시기 바랍니다."
          }
        }
      },
      "put": {
        "tags": ["회원정보 관련API"],
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "address": {
                  "example": "주소"
                },
                "myPlace": {
                  "example": "선호하는지역"
                },
                "age": {
                  "example": "나이"
                },
                "gender": {
                  "example": "성별"
                },
                "likeGame": {
                  "example": "선호하는게임"
                },
                "userAvater": {
                  "example" : "아바타"
                },
                "point" : {
                  "example" : "포인트"
                },
                "totalPoint" : {
                  "example" : "랭킹을위한포인트"
                },
                "visible" : {
                  "example" : "성별 공개 여부"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "수정이 완료되었습니다."
          },
          "401": {
            "description": "로그인을 하시기 바랍니다."
          },
          "403": {
            "description": "비밀번호 값을 제대로 넣지 않았습니다."
          }
        }
      },
      "delete": {
        "tags": ["회원정보 관련API"],
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "회원 정보 삭제를 완료하였습니다."
          },
          "401": {
            "description": "로그인을 하시기 바랍니다."
          }
        }
      }
    },
    "/users/visible/{userId}": {
      "get": {
        "tags": ["회원정보 관련API"],
        "description": "",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/users/{nickName}": {
      "get": {
        "tags": ["회원정보 관련API"],
        "description": "",
        "parameters": [
          {
            "name": "nickName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "로그인을 하시기 바랍니다."
          },
          "403": {
            "description": "비밀번호 값을 제대로 넣지 않았습니다."
          }
        }
      }
    },
    "/users/change/password": {
      "get": {
        "tags": ["회원정보 관련API"],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "userId": {
                  "example": "아이디"
                },
                "password": {
                  "example": "변경할 비밀번호"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "비밀번호 변경 완료"
          }
        }
      }
    },
    "/users/check": {
      "put": {
        "tags": ["회원 가입 및 로그인API"],
        "description": "출석체크",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "출석체크가 완료되었습니다."
          },
          "406": {
            "description": "아직 하실수 없습니다."
          }
        }
      }
    },
    "/users/bookmark/bookmark": {
      "put": {
        "tags": [
          "회원 가입 및 로그인 API"
        ],
        "description": "북마크 추가or제거",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "string",
              "properties": {
                "postId": {
                  "example": "게시글번호"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "추가되었습니다."
          },
          "400": {
            "description": "error"
          }
        }
      }
    },
    "/posts/": {
      "post": {
        "tags": ["게시물API"],
        "description": "게시물 생성",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "example": "보드게임 괴고수 모집합니다"
                },
                "content": {
                  "example": "할리갈리할리갈리"
                },
                "location": {
                  "example": "서울시"
                },
                "cafe": {
                  "example": "보드게임카페"
                },
                "date": {
                  "example": "2022년 11월 4일"
                },
                "time": {
                  "example": "새벽3시"
                },
                "map": {
                  "example": "지도 위치"
                },
                "partyMember": {
                  "example": 4
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "게시물 생성 완료"
          },
          "400": {
            "description": "정확한 양식으로 작성해주세요"
          }
        }
      },
      "get": {
        "tags": ["게시물API"],
        "description": "게시물 전체 조회",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "게시물 조회 완료"
          },
          "400": {
            "description": "정확한 경로가 아닙니다."
          }
        }
      }
    },
    "/posts/{postId}": {
      "get": {
        "tags": ["게시물API"],
        "description": "게시물 상세 조회",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "게시물 조회 완료"
          },
          "400": {
            "description": "없는 게시물입니다."
          }
        }
      },
      "put": {
        "tags": ["게시물API"],
        "description": "게시물 수정",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "example": "타이틀 수정"
                },
                "content": {
                  "example": "내용 수정"
                },
                "location": {
                  "example": "지역 수정"
                },
                "cafe": {
                  "example": "장소 수정"
                },
                "date": {
                  "example": "날짜 수정"
                },
                "time": {
                  "example": "시간 수정"
                },
                "map": {
                  "example": "위치 수정"
                },
                "partyMember": {
                  "example": 2
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "게시물 수정 완료"
          },
          "400": {
            "description": "없는 게시물입니다."
          }
        }
      },
      "delete": {
        "tags": ["게시물API"],
        "description": "게시물 삭제",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "게시물 삭제 완료"
          },
          "400": {
            "description": "없는 게시물입니다."
          }
        }
      }
    },
    "/posts/searchTitle/{keyword}": {
      "get": {
        "tags": ["게시물API"],
        "description": "게시글 검색 by 제목",
        "parameters": [
          {
            "name": "keyword",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "키워드로 게시글 검색 완료"
          },
          "400": {
            "description": "검색을 연속해서 너무 빨리 하셨거나,,😂 찾으시는 게시물이 없습니다,,!!!"
          }
        }
      }
    },
    "/posts/searchNickname/{keyword}": {
      "get": {
        "tags": ["게시물API"],
        "description": "게시글 검색 by 닉네임",
        "parameters": [
          {
            "name": "keyword",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "키워드로 게시글 검색 완료"
          },
          "400": {
            "description": "검색을 연속해서 너무 빨리 하셨거나,,😂 찾으시는 게시물이 없습니다,,!!!"
          }
        }
      }
    },
    "/posts/user/{nickName}": {
      "get": {
        "tags": ["게시물API"],
        "description": "유저가 쓴 게시물",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "nickName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "게시물 조회 완료"
          },
          "400": {
            "description": "없는 게시물입니다."
          }
        }
      }
    },
    "/posts/confirm/{postId}": {
      "put": {
        "tags": ["게시물API"],
        "description": "파티에 참가",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "nickName": {
                  "example": "닉네임 입력"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "confirm"
          },
          "400": {
            "description": "error Message"
          }
        }
      }
    },
    "/posts/ban/{postId}": {
      "put": {
        "tags": ["게시물API"],
        "description": "게시물에서 강퇴",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "nickName": {
                  "example": "닉네임 입력"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "강퇴 완료"
          },
          "400": {
            "description": "오류"
          }
        }
      }
    },
    "/posts/cancelBan/{postId}": {
      "put": {
        "tags": ["게시물API"],
        "description": "게시물에서 강퇴취소",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "nickName": {
                  "example": "닉네임 입력"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "강퇴 취소"
          },
          "400": {
            "description": "오류"
          }
        }
      }
    },
    "/posts/closeParty/{postId}": {
      "put": {
        "tags": ["게시물API"],
        "description": "파티원 모집 마감",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "파티원 모집 마감"
          },
          "400": {
            "description": "오류"
          }
        }
      }
    },
    "/posts/reopenParty/{postId}": {
      "put": {
        "tags": ["게시물API"],
        "description": "파티원 모집 리오픈",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {

            "name": "body",
            "in": "body",
            "schema": {
              "type": "string",
              "properties": {
                "time": {
                  "example": "새로운 마감 시간 입력ㄱㄱ"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "파티원 모집 리오픈"
          },
          "400": {
            "description": "오류"
          }
        }
      }
    },
    "/posts/randomPost": {
      "get": {
        "tags": [
          "게시물API"
        ],
        "description": "포스트 랜덤 추출(w/ 무한스크롤)",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "포스트 랜덤 추출 완료"
          },
          "404": {
            "description": "잘못된 경로 요청."
          }
        }
      }
    },
    "/posts/filterPosts": {
      "post": {
        "tags": ["게시물API"],
        "description": "게시글 필터링",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "string",
              "properties": {
                "map": {
                  "example": "강남구"
                },
                "time": {
                  "example": [
                    "2022-12-25T09", "2022-12-25T19"]
                },
                "partyMember": {
                  "example": [
                    "2", "6"]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "필터링 완료쓰"
          },
          "400": {
            "description": "오류🥹💦"
          }
        }
      }
    },
    "/posts/bookmark/bookmark": {
      "put": {
        "tags": [
          "게시물API"
        ],
        "description": "북마크 추가or제거",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "string",
              "properties": {
                "postId": {
                  "example": "게시글번호"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "추가되었습니다."
          },
          "400": {
            "description": "error"
          }
        }
      }
    },
    "/posts/bookmark/{nickName}": {
      "get": {
        "tags": [
          "게시물API"
        ],
        "description": "북마크 조회",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "nickName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "조회 완료."
          },
          "400": {
            "description": "추가한 게시글이 없습니다."
          }
        }
      }
    },
    "/comments/{postId}": {
      "get": {
        "tags": ["댓글API"],
        "description": "",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {}
      },
      "post": {
        "tags": ["댓글API"],
        "description": "",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "body",
            "in": "body",
            "type": "string",
            "schema": {
              "type": "object",
              "properties": {
                "comment": {
                  "example": "후기 내용"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/comments/{commentId}": {
      "put": {
        "tags": ["댓글API"],
        "description": "",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "body",
            "in": "body",
            "type": "string",
            "schema": {
              "type": "object",
              "properties": {
                "comment": {
                  "example": "댓글내용"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": ["댓글API"],
        "description": "",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/chats/{room}": {
      "get": {
        "tags": ["채팅API"],
        "description": "",
        "parameters": [
          {
            "name": "room",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sms/send": {
      "post": {
        "tags": ["인증번호API"],
        "description": "회원가입 시 사용되는 인증번호 보내기",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "phoneNumber": {
                  "example": "핸드폰 번호"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/sms/verify": {
      "post": {
        "tags": ["인증번호API"],
        "description": "회원가입 및 비밀번호 변경 시 사용되는 인증번호 확인",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "phoneNumber": {
                  "example": "핸드폰 번호"
                },
                "verifyCode": {
                  "example": "인증 번호"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/sms/sendID": {
      "post": {
        "tags": ["인증번호API"],
        "description": "아이디 찾기 할때 사용되는 인증번호 보내기",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "phoneNumber": {
                  "example": "휴대폰 번호"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/sms/verifyID": {
      "post": {
        "tags": ["인증번호API"],
        "description": "아이디 찾기 시 받은 인증번호 확인",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "phoneNumber": {
                  "example": "휴대폰 번호"
                },
                "verifyCode": {
                  "example": "인증번호"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/sms/sendPW": {
      "post": {
        "tags": ["인증번호API"],
        "description": "비밀번호 변경 시 사용되는 인증번호 보내기",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "userId": {
                  "example": "아이디"
                },
                "phoneNumber": {
                  "example": "휴대폰 번호"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    }
  }
}